body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0 20px;;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.card-related-articles ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-related-articles li {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.card-related-articles li:last-child {
    border-bottom: none;
}

.article-info a.article-title {
    display: inline; 
    margin-top: 10px;
    font-weight: bold;
    color:  #2280CD;
    text-decoration: none;
    margin-bottom: 15px; 
}

.article-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.article-info a.article-title:hover {
    color:  #1468AD;
}

.icons {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.related-art-img {
    transition: transform 0.2s ease-in-out;
  }
  
  .related-art-img:hover {
    transform: scale(1.1);
  }
  



