



/* Новый блок для надписи "Share" */
.share-block-vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  margin-top: 200px;

}

.share-title-vertical {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.share-icons-vertical {
    display: flex;
    flex-direction: column;
  
}

.share-icon {
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out; /* Плавное увеличение */
}

.share-icon:hover {
    transform: scale(1.1); /* Увеличение иконок при наведении */
}
