/* Reset CSS */

/* Убираем отступы и рамки у всех элементов */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Убираем стили для списков */
ol, ul {
  list-style: none;
}

/* Убираем стиль ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Убираем стили для таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Убираем стандартное поведение для форм */
input,
button,
textarea,
select {
  border: none;
  outline: none;
  background: none;
}

/* Убираем стили для изображения */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Убираем дефолтный стиль для абзацев */
p {
  line-height: 1.5;
  font-size: 25px;
}

/* Убираем дефолтный стиль для заголовков */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Базовый стиль для body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.4;
  background-color: #fff;
  color: #000;
}

/* Убираем стили для фокуса, чтобы избегать нежелательных эффектов */
:focus {
  outline: none;
}

/* Стандартный набор для container */

/* Основной контейнер */
.container {
    width: 100%; /* Контейнер занимает всю ширину экрана */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Выравнивание контейнера по центру */
    padding: 0 15px; /* Отступы слева и справа */
    box-sizing: border-box; /* Включаем паддинг в ширину контейнера */
  }
  
  
  

/* /Reset CSS */

.title-text {
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
    font-weight: 800;
    }

    .title-container {
        max-width: 700px;
        margin-left: 700px;
    }

    .main-section {
        padding-bottom: 50px;
        background-image: url(./Арт/character.webp);
        background-repeat: no-repeat;
        min-height: 1000px;
        background-size: contain;
        display: flex;
        align-items: center;
    }
    .title-text-for-mobile {
      display: none;
    }

    .first-section {
        padding: 50px 0;
    }

    /* Мобильная адаптивность: для маленьких экранов контейнер будет занимать всю ширину */
  @media (max-width: 768px) {
    .container {
      padding: 0 20px; /* Увеличиваем отступы для мобильных устройств */
      height: auto;
    }
    .main-section {
        min-height: 400px;
    }
    .first-section {
        padding: 20px 0;
    }
    .title-container {
      margin: 0 auto;
    }
    .title-text {
      display: none;
    }
  .title-text-for-mobile {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }   

        p {
            font-size: 15px;
        }
  }

